.catalogue_toolbox
{
    /height: 64px;
    border: solid 1px #888888;
    background-color: #efefef;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}

.catalogue_search
{
    width: 90%;
    align-self: flex-start;
    vertical-align: middle;
    padding-left: 8px;
    font-size: 18pt;
}

.catalogue_add
{
    /align-self: flex-end;
    float: right;
    background-color: #77ff77;
    color: #007700;
    font-size: 18pt;
}