th
{
    background-color: #dadada;
    padding: 3px;
    vertical-align: top;
}

td
{
    padding-left: 3px;
}

.dashboard_model_properties
{
    margin-top: 16px;
}

.dashboard_model_version_title
{
    font-size: 14pt;
    font-weight: bolder;
    color: green;
}

.dashboard_model_path
{
    font-size: 12pt;
    color: #888888;
    border-bottom: 1px dashed #dadada;
}

.dashboard_metadata_and_actions
{
    display: flex;
}

.dashboard_toolbox
{
    border: solid 1px #888888;
    background-color: #efefef;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}

