.catalogue_toolbox
{
    border: none;
    background-color: #E7E7E7;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}

.catalogue_toolbox_text_input
{
    width: 90%;
    vertical-align: middle;
    padding-left: 8px;
    font-size: 18pt;
}

.catalogue_model_path_picker
{
    color: red;
    font-weight: bolder;
    font-size: 12pt;
}

.catalogue_button
{
    border: none;
    background-color: #29A5EB;
    color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18pt;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 10px;
}

.catalogue_button:hover
{
    background-color: #1BBA01;
}

.catalogue_button#catalogue_cancel_adding_button:hover
{
    background-color: #ff7777;
}

.catalogue_models_list_item
{
}

.catalogue_model_list_item_name
{
    font-size: 14pt;
    font-weight: bolder;
    color: #1BBA01;
}

.catalogue_model_list_item_version
{
    font-size: 12pt;
    color: #777777;
    padding-right: 16px;
}

.catalogue_model_list_item_timestamp
{
    font-size: 10pt;
    color: #000000;
}

.catalogue_model_list_item_path
{
    font-size: 10pt;
    color: #888888;
    border-bottom: 1px dashed #dadada;
}
