h1
{
    color: #1BBA01;
}

th
{
    background-color: #ddf3ff;
    padding: 3px;
    vertical-align: top;
}

td
{
    padding-left: 3px;
}

.dashboard_model_properties
{
    margin-top: 16px;
}

.dashboard_model_version_title
{
    font-size: 14pt;
    font-weight: bolder;
    color: #1BBA01;
}

.dashboard_model_path
{
    font-size: 12pt;
    color: #888888;
    border-bottom: 1px dashed #dadada;
}

.dashboard_metadata_and_actions
{
    display: flex;
}

.dashboard_toolbox
{
    border: dashed 1px #dadada;
    background-color: #ffffff;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}

.dashboard_deleted_file
{
    font-style: italic;
    color: #777777;
}

.dashboard_version_file_commit_state
{
    font-size: 10pt;
    font-weight: bolder;
    border-bottom: solid 1px #888888;
    vertical-align: middle;
}

.dashboard_version_file_path_new,
.dashboard_version_file_path_modified,
.dashboard_version_file_path_same
{
    font-size: 12pt;
    border-bottom: solid 1px #888888;
}

.dashboard_version_file_path_new
{
    color: green;
}

.dashboard_version_file_path_modified
{
    color: blue;
}

.dashboard_version_file_path_same
{
    color: #888888;
}

.dashboard_version_commit_comment
{
    padding-left: 16px;
    font-size: 10pt;
    color: #888888;
}

.dashboard_button
{
    border: none;
    background-color: #29A5EB;
    color: #FFFFFF;
    margin-bottom: 8px;
    padding: 3px;
    font-size: 10pt;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 10px;
    min-width: 250px;
    min-height: 32px;
}

.dashboard_button:hover
{
    background-color: #1BBA01;
}

.dashboard_button#deploy_active_version_button
{
    float: right;
}

.dashboard_button#cancel:hover
{
    background-color: #ff7777;
}

.dashboard_actions
{
    padding-left:16px;
}
