th
{
    background-color: #dadada;
    padding: 3px;
    vertical-align: top;
}

td
{
    padding-left: 3px;
}

.dashboard_model_properties
{
    margin-top: 16px;
}

.dashboard_model_version_title
{
    font-size: 14pt;
    font-weight: bolder;
    color: green;
}

.dashboard_model_path
{
    font-size: 12pt;
    color: #888888;
    border-bottom: 1px dashed #dadada;
}

.dashboard_metadata_and_actions
{
    display: flex;
}

.dashboard_toolbox
{
    border: solid 1px #888888;
    background-color: #efefef;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}

.dashboard_deleted_file
{
    font-style: italic;
    color: #777777;
}

.dashboard_version_file_commit_state
{
    font-size: 10pt;
    font-weight: bolder;
    border-bottom: solid 1px #888888;
    vertical-align: middle;
}

.dashboard_version_file_path_new,
.dashboard_version_file_path_modified,
.dashboard_version_file_path_same
{
    font-size: 12pt;
    border-bottom: solid 1px #888888;
}

.dashboard_version_file_path_new
{
    color: green;
}

.dashboard_version_file_path_modified
{
    color: blue;
}

.dashboard_version_file_path_same
{
    color: #888888;
}

.dashboard_version_commit_comment
{
    padding-left: 16px;
    font-size: 10pt;
    color: #888888;
}