{% extends "layout.html" %}
{% block head %}
{{ super() }}

    <!-- anti_cache is defined in layout.html -->

    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/dashboard.css') + anti_cache }}">

    <script  type = "text/javascript" src = "{{ url_for('static', filename = 'js/dashboard.js') + anti_cache }}">
    </script>

 {% endblock %}

{% block main_content %}
{{ super() }}

{% if model_static_data %}

    {% if model_static_data["properties"] %}
    
    <script type = "text/javascript">
            var model_path = "{{model_static_data['properties']['path']|escape() }}";
            var the_model_id = "{{model_static_data['properties']['id']}}";
    </script>

    <h1>
        {{ model_static_data["properties"]["name"] }}
    </h1>
    <input type = "hidden" name = "the_model_name" id = "the_model_name" value = '{{ model_static_data["properties"]["name"] }}'>
    <script type = "text/javascript">
        window.the_model_name = popElement('the_model_name').value;
    </script>
    <div class = "dashboard_model_path">
        {{ model_static_data["properties"]["path"] }};&nbsp;&nbsp;&nbsp; 
        Last Version v.{{ model_static_data["properties"]["last_version"] }}. / 
        Active Version v. {{ model_static_data["properties"]["active_version"] }}
    </div>
    <div class = "dashboard_model_properties">

        <span class = "ui_caption">Deploy destination: </span>
        <br clear = all>
        <input type="hidden"  id = "actual_deploy_destination" value = '{{model_static_data["properties"]["deploy_destination"]|escape()}}'>
        <script type = "text/javascript">
            window.actual_deploy_destination = popElement("actual_deploy_destination").value;
        </script>
        <input class = "dashboard_deploy_destination_input" type = text size = 80 value = "{{model_static_data.properties.deploy_destination}}" 
        placeholder=" http(s)://..."
        name = "deploy_destination_url"
        id = "deploy_destination_url"
        onkeyup = "
        if (elementIsDisabled('save_model_deploy_destination_button') && inputValueHasChanged('deploy_destination_url', window.actual_deploy_destination))
        {
            enableElement('save_model_deploy_destination_button');
        }
        ">
        <button id = "save_model_deploy_destination_button" class = "small_button" disabled onclick = "onSaveDeployDestinationClick();">save</button>
        <br>
        <br clear = all>

    {% else %}
        <h1>
            Something went wrong: no model properties retrieved.
        </h1>
    {% endif %}
    </div>
    <hr>
    <div class = "dashboard_versions_list">
        {% if model_static_data["model_versions"] %}
        {% set active_version = model_static_data["properties"]["active_version"] %}
            <input type="hidden" id = "current_model_metadata" 
            value = '{{model_static_data["model_versions"][active_version]["version_properties"]["metadata"]|escape()}}'>
            
            <input type="hidden"  id = "active_model_version_files_data" 
            value = '{{model_static_data["model_versions"][active_version]["version_files"]|tojson()}}'>
            
            <script type = "text/javascript">
                var active_version_files_input = popElement("active_model_version_files_data").value;
                window.active_version_files_data = JSON.parse(active_version_files_input);
                window.active_version_files_data_tracker = JSON.parse(active_version_files_input);
                window.actual_metadata = popElement("current_model_metadata").value;
            </script>

            <ul class = "dashboard_versions_ol">
                {% for model_version in model_static_data["model_versions"] %}
                {% set the_model_version = model_static_data["model_versions"][model_version] %}
                <li class = "dashboard_model_versions_item">
                    <a class = "dashboard_model_version_title" href = "#" 
                    onclick = "toggleDisplay('model_version_static_data{{ the_model_version.version_properties.id }}', 'block');">
                        Version {{ the_model_version["version_properties"]["version"] }}., created {{ the_model_version["version_properties"]["created_timestamp"] }}
                    </a>
                    <div id = "model_version_static_data{{ the_model_version['version_properties']['id'] }}"
                    style = "display: 
                    {%- if model_static_data['properties']['active_version'] == model_version %}
                    block;
                    {% else %}
                    none;
                    {% endif -%}
                    ">
                    {%- if model_static_data['properties']['active_version'] == model_version %}
                        <input type = "hidden" name = "active_version_changed_folders" 
                        id = "active_version_changed_folders" value = '{{ the_model_version["changed_folders"]|tojson() }}'>
                        <input type = "hidden" name = "active_version_deleted_files" 
                        id = "active_version_deleted_files" value = '{{ the_model_version["absent_files"]|tojson() }}'>
                        <script type = "text/javascript">
                            var active_version_changed_folders = popElement("active_version_changed_folders").value;
                            var active_version_deleted_files = popElement("active_version_deleted_files").value;
                            window.active_version_changed_folders = JSON.parse(active_version_changed_folders);
                            window.active_version_deleted_files = JSON.parse(active_version_deleted_files);
                        </script>
                    {% endif %}
                        <br clear = "all">
                        <span class = "ui_caption">Metadata:</span>
                        <div class = "dashboard_metadata_and_actions">
                            <textarea class = "dashboard_model_version_metadata"
                            cols = "80" rows = "8" 

                            {%- if model_static_data['properties']['active_version'] == model_version %}

                                id = "active_model_version_metadata"
                                onkeyup = "
                                if ( elementIsDisabled('metadata_button') && inputValueHasChanged('active_model_version_metadata', window.actual_metadata))
                                {
                                    enableElement('metadata_button');
                                }

                                if ( elementIsDisabled('action') && inputValueHasChanged('active_model_version_metadata', window.actual_metadata))
                                {
                                    enableElement('action');
                                }
                                " 
                            {% else %}
                                disabled
                            {% endif -%}
                            >{{ the_model_version["version_properties"]["metadata"] }}</textarea>
                            &nbsp;
                            {%- if model_static_data['properties']['active_version'] == model_version %}
                            <button id = "metadata_button" disabled>Update v. {{ model_version }} <br>Metadata & Deployables</button>
                            <button id = "action" class = "action_button" disabled>Save All as <br> v. {{model_static_data["properties"]["last_version"] + 1}}</button>
                            <button id = "cancel" class = "cancel_button" onclick = "window.location.reload(true);">Discard Unsaved Changes</button>
                            {%- endif-%}
                        </div>
                        
                        <div id = "model_folder" class = "dashboard_toolbox" width = "100%" ></div>
                        <input type = "hidden" id = "model_folder_change_listener" value = "" onchange = "console.log('hey-hey!');">

                    </div> <!-- Static data ends here -->

                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% else %}
    <h1>
        No Model Specified
    </h1>
{% endif %}

<script type="text/javascript">
    scanFolder(model_path, model_path); //model_path defined in the beginning of the Jinja2 block
</script>

{% endblock %}