<div class = "folder_contents_box">

    {% if folder_contents %}

        <input type="hidden" name= "dashboard_folder_contents" 
        id = "dashboard_folder_contents" value = '{{ folder_contents|tojson() }}'>

        <div class = "folder_contents_box_current_folder" align = "left">
            {{ the_folder }}
        </div>
        <br>
        <table id = "the_folder_items_list" width = "100%">
            <tr>
                <th width = "60%">
                    <b>Name</b>
                </th>
                <th width = "20%" align = "center">
                    <b>Is Tracked</b>
                    <br>
                    <input type = "checkbox" id = "trackAllCheckbox"
                    onchange = "onTrackAllCheckboxChange();">
                </th>
                <th width = "20%" align = "center">
                    <b>Deployable</b>
                    <br>
                    <input type = "checkbox" id = "markAllDeployableCheckbox"
                    onchange = "onMarkAllDeployableCheckboxChange();">
                </th>
            </tr>

        {% for item_path in folder_contents %}
        {% set item = folder_contents[item_path] %}

                <tr class = "folder_content_box_item" id = "folder_item_{{ item_path|escape() }}">
                    {% if item.is_dir %}
                        <td colspan = "3">

                                <a class = "local_folder" href = "#" onclick=
                                "
                                    scanFolder('{{ item_path|escape() }}', model_path); //model_path is defined in parental dashboard.html
                                ">
                                    <b>{{ item.base_name }}</b>
                                </a>

                        </td>
                    {% else %}
                        <td width = "60%">
                                {{ item.base_name }}
                        </td>
                        <td width = "20%" align = "center">
                            <input type = "checkbox"
                            id = "is_tracked_{{ item_path|escape() }}"
                            onchange = "isTrackedCheckboxChange('{{ item_path|escape() }}');"
                            >
                        </td>
                        <td width = "20%" align = "center">
                            <input type = "checkbox"
                            id = "is_deployed_{{ item_path|escape() }}"
                            onchange = "isDeployedCheckboxChange('{{ item_path|escape() }}');"
                            >
                        </td>
                    {% endif %}
                </tr>

        {% endfor %}

        </table>
    {% else %}
        Something went wrong...
    {% endif %}


</div>