<div class = "folder_contents_box" width = "80%">

    {% if folder_contents %}

        <div class = "folder_contents_box_current_folder" align = "left">
            <button id = "home_folder_button" onclick = "
                var data = {'the_folder':'~'};
                var data_json = JSON.stringify(data);
                asyncPostRequest('/helpers/folders/catalogue', data_json, 'new_model_folder');
            ">
                &#x1F3E0;
            </button>

            {% if the_folder == "~" %}
                $HOME
            {% else %}
                {{ the_folder }}
            {%endif%}

        </div>

        <ul id = "the_folder_items_list">

        {% for item_path in folder_contents %}
        {% set item = folder_contents[item_path] %}

            {% if item.is_dir %}

                <li>
                    <a class = "local_folder" href = "#" onclick=
                    "
                        pickFolder('{{ item_path|escape() }}');
                        var data = {'the_folder':'{{ item_path|escape() }}'};
                        var data_json = JSON.stringify(data);
                        asyncPostRequest('/helpers/folders/catalogue', data_json, 'new_model_folder');
                        document.getElementById('new_model_path').value = '{{ item_path|escape() }}';

                    ">
                        <b>{{ item.base_name}}</b>
                    </a>
                </li>

            {% else %}

                <li>
                    {{ item.base_name }}
                </li>

            {% endif %}

        {% endfor %}

        </ul>
    {% else %}
        Something went wrong...
    {% endif %}


</div>