<div class = "folder_contents_box" width = "80%">

    {% if folder_contents %}

        <div class = "folder_contents_box_current_folder" align = "left">
            <button id = "home_folder_button" onclick = "
                asyncPostRequest('/helpers/folders', '~', 'new_model_folder');
            ">
                &#x1F3E0;
            </button>

            {% if the_folder == "~" %}
                $HOME
            {% else %}
                {{ the_folder }}
            {%endif%}

        </div>

        <ul id = "the_folder_items_list">

        {% for item in folder_contents %}

            {% if item.is_dir %}

                <li>
                    <a class = "local_folder" href = "#" onclick=
                    "
                        var local_folder = '{{ item.absolute_path|escape() }}';
                        pickFolder(local_folder);
                        asyncPostRequest('/helpers/folders', '{{ item.absolute_path|escape() }}', 'new_model_folder');
                        document.getElementById('new_model_path').value = local_folder;

                    ">
                        <b>{{ item.base_name}}</b>
                    </a>
                </li>

            {% else %}

                <li>
                    {{ item.base_name }}
                </li>

            {% endif %}

        {% endfor %}

        </ul>
    {% else %}
        Something went wrong...
    {% endif %}


</div>