{% set anti_cache = '?v=' + range(0,100500)|random()|string() %}
<html>
<head>
{% block head %}

    {% block title %}
    <title>
        RhythmicML{% if title %}: {{ title }} {% endif %}   
    </title>
    {% endblock %}

    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/main.css')  + anti_cache }}">

    <meta name = "viewport" content = "width=device-width">
{% endblock %}
</head>

<body>
<div class = "main_container">
    <div class = "main_sidebar" align=center>
        {% block main_sidebar %}
        <h1 class = "cross_logo">
            RhythmicML
        </h1>
        <hr>
        
        <div class = "navigation_menu_item" align="center">
            <a href = "{{url_for('index')}}"><b>Catalogue</b></a>
        </div>

        {% if models_list %}
            {% if models_list[0] %}
        <div class = "navigation_menu_item" align="center">
           <a href = "{{url_for('dashboard', model_id = models_list[0]['id'])}}" title = "{{models_list[0]['name']}}">{{models_list[0]["name"]}}</a>
        </div>
            {% endif %}
            {% if models_list[1] %}
        <div class = "navigation_menu_item" align="center">
           <a href = "{{url_for('dashboard', model_id = models_list[1]['id'])}}" title = "{{models_list[1]['name']}}">{{models_list[1]["name"]}}</a>
        </div>
            {% endif %}
            {% if models_list[2] %}
        <div class = "navigation_menu_item" align="center">
           <a href = "{{url_for('dashboard', model_id = models_list[2]['id'])}}" title = "{{models_list[2]['name']}}">{{models_list[2]["name"]}}</a>
        </div>
            {% endif %}
        {% endif %}

        {% endblock %}
        <div class = "status_bar" id = "status_bar" align = "left"></div>
    </div>
    
    <div class = "main_content">
        {% block main_content %}
        <h1 class = "ui_caption">
            {% if ui_caption %}{{ ui_caption }}{% endif %}
        </h1>
        <hr>
        {% endblock %}
    </div>
</div>

<br clear = "all">
<div class = "cross_footer" align = "right">
Copyright 2019 RhythmicML. Apache2 Licence. https://github.com/PycT/RhythmicML &nbsp;
</div>

</body>
</html>