{% extends "layout.html" %}

{% block head %}
{{ super() }}

    <!-- anti_cache is defined in layout.html -->

    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/catalogue.css') + anti_cache }}">

    <script  type = "text/javascript" src = "{{ url_for('static', filename = 'js/catalogue.js') + anti_cache }}" type = "module">
    </script>

 {% endblock %}
{% block main_content %}
{{ super() }}

<div align=center>
    <div class = "catalogue_toolbox" id = "catalogue_toolbox_add_model" style = "display: none;">

        <div align = "left" class = "left_column_align_left">
            <div id = "model_name_input_container">
                <b class = "guideline">New model name:</b><br><br>
                <input class = "catalogue_toolbox_text_input" type = "text" name = "new_model_name" id = "new_model_name"
                placeholder = "New model name..." value = "" required>
            </div>
            <input type = checkbox name = "name_the_model_by_folder" id = "name_the_model_by_folder" checked>
            <b>
                Name the model after containing folder
            </b>
            <hr>
            <b class = "guideline">Pick a folder containing your model:</b><br>

            <div id = "new_model_folder">
            </div>
        </div>

        <div align = right class = "right_column_align_right">
            <button class = "catalogue_button" name = "catalogue_cancel_adding" id = "catalogue_cancel_adding_button"
            onclick = "
                onCancelNewModelSubmitButtonClick();
            ">
                <b>Cancel</b>
            </button>
            &nbsp;
            <button class = "catalogue_button" name = "catalogue_submit_model" id = "catalogue_submit_model_button" onclick = "onAddModelButtonClick();">
                <b>Add</b>
            </button>
            <input type = "hidden" name = "new_model_path" id = "new_model_path" value = "~">
        </div>

    </div>

    <div class = "catalogue_toolbox" id = "catalogue_toolbox_regular">

        <div align = "left" class = "left_column_align_left">
            <input class = "catalogue_toolbox_text_input" name = "catalogue_search" id = "catalogue_searchsearch" type = text
            placeholder = "Search by name / path..." autofocus oninput = "onSearchInputChange(this.value);">
        </div>

        <div align = "right" class = "right_column_align_right">
            <button class = "catalogue_button" name = "catalogue_add" id = "catalogue_invoke_add_button"
            onclick="onAddInvocationButtonClick();">
                <b>+</b> Add a model
            </button>
        </div>

    </div>

</div>

<script type="text/javascript">
    var models_array = []; //this is to be used for searching through catalogue.
</script>

<div class = "catalogue_content">
    <ol class = "catalogue_models_list">
        <table width = "100%">
        {% for item in models_list %}
        <tr id = "model{{ item['id'] }}">
            <td class = "catalogue_models_list_item" width = "60%">
                <li>
                    <a class = "catalogue_model_list_item_name" 
                    href = "{{ url_for('dashboard', model_id = item['id']) }}">
                        {{ item["name"] }}
                    </a>
                </li>
                {% if item["deploy_id"] != 0 %}
                {{item["deploy_destination"]}}/score/{{ item["deploy_id"] }} 
                <br>
                <a class="guideline" href="#" onclick = "onStatusClick({{item.id}}, {{item.deploy_id}}, '{{item.deploy_destination}}');">Deploy Status:</a>
                {% else %}
                <span class="guideline">Deploy Status:</span>
                {% endif %}
                &nbsp;<b id="catalogue_status_display{{item.id}}">{{item["deploy_status"]}}</b>
                <script type="text/javascript">
                    var model_item = 
                    {
                        "id": "{{ item['id'] }}", 
                        "name": "{{ item['name'] }}".toLowerCase(), 
                        "path": "{{ item['path'] }}".toLowerCase()
                    };
                    models_array.push(model_item);
                </script>
            </td>
            <td class = "catalogue_model_list_item_version" align = "right">
                Active v. {{ item["active_version"] }}  / Last v. {{ item["last_version"] }} <br>
            </td>
            <td class = "catalogue_model_list_item_timestamp">
                <button class = "small_button"
                onclick = "onRemoveButtonClick('{{ item.id }}', '{{ item.path }}', '{{ item.name }}');"
                >
                    Remove
                </button>
            </td>
        </tr>
        <tr id = "model_path{{ item['id'] }}">
            <td colspan="3" class = "catalogue_model_list_item_path">
                {{item["path"]}}<br>
                last version created:{{ item["last_version_timestamp"][:-7] }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </ol>
</div>

<script type="text/javascript">
    initOnLoad();
</script>

{% endblock %}